<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предсказание</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h2>Спам или не спам?</h2>
    <form action="{{url_for('index')}}" method="post">
        <label for="prompt">Введите тело сообщения:</label>
        <input type="text" name="prompt" id="prompt" required><br><br>
        <button type="submit">Сделать предсказание</button>

    </form>
    {% if prediction_false %}
        <p style="color:aquamarine">
            Не спам
            {% if not_spam_proba is defined %}
                (вероятность: {{ not_spam_proba | round(2) }})
            {% endif %}
        </p>
    {% endif %}

    {% if prediction_true %}
        <p style="color:red">
            Спам
            {% if spam_proba is defined %}
                (вероятность: {{ spam_proba | round(2) }})
            {% endif %}
        </p>
    {% endif %}

</body>
</html>